<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="InfoLogFile" xsi:type="File" fileName="default.log" />
        <target name="InfoConsole" xsi:type="Console" layout="${message}"/>
        <target name="ErrorLogFile" xsi:type="File" fileName="error.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="InfoConsole" />
        <logger name="*" minlevel="Info" writeTo="InfoLogFile"/>
        <logger name="*" minlevel="Error" writeTo="ErrorLogFile"/>
    </rules>
</nlog>